security:
  jwt:
    secret: ${JWT_SECRET}
    expiration: 86400000

spring:
  application:
    name: aalife

  datasource:
    url: ${DB_URL}
    username: ${MYSQL_ROOT_USER}
    password: ${MYSQL_ROOT_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

logging:
  level:
    org:
      hibernate:
        orm:
          connections:
            pooling: OFF